.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 100%;
  grid-gap: 15px;
  align-items: start;
  box-sizing: border-box; }
  .grid .all-2 {
    grid-column: auto / span 2; }
  .grid .all-3 {
    grid-column: auto / span 3; }
  .grid .all-4 {
    grid-column: auto / span 4; }
  .grid .all-5 {
    grid-column: auto / span 5; }
  .grid .all-6 {
    grid-column: auto / span 6; }
  .grid .all-7 {
    grid-column: auto / span 7; }
  .grid .all-8 {
    grid-column: auto / span 8; }
  .grid .all-9 {
    grid-column: auto / span 9; }
  .grid .all-10 {
    grid-column: auto / span 10; }
  .grid .all-11 {
    grid-column: auto / span 11; }
  .grid .all-12 {
    grid-column: auto / span 12; }
  .grid .all-start-1 {
    grid-column-start: 2; }
  .grid .all-start-2 {
    grid-column-start: 3; }
  .grid .all-start-3 {
    grid-column-start: 4; }
  .grid .all-start-4 {
    grid-column-start: 5; }
  .grid .all-start-5 {
    grid-column-start: 6; }
  .grid .all-start-6 {
    grid-column-start: 7; }
  .grid .all-start-7 {
    grid-column-start: 8; }
  .grid .all-start-8 {
    grid-column-start: 9; }
  .grid .all-start-9 {
    grid-column-start: 10; }
  .grid .all-start-10 {
    grid-column-start: 11; }
  .grid .grid {
    grid-gap: 7.5px; }

@media only screen and (max-width: 480px) {
  .grid-container {
    max-width: 95vw;
    margin: auto; }
  .grid .small-2 {
    grid-column: auto / span 2; }
  .grid .small-3 {
    grid-column: auto / span 3; }
  .grid .small-4 {
    grid-column: auto / span 4; }
  .grid .small-5 {
    grid-column: auto / span 5; }
  .grid .small-6 {
    grid-column: auto / span 6; }
  .grid .small-7 {
    grid-column: auto / span 7; }
  .grid .small-8 {
    grid-column: auto / span 8; }
  .grid .small-9 {
    grid-column: auto / span 9; }
  .grid .small-10 {
    grid-column: auto / span 10; }
  .grid .small-11 {
    grid-column: auto / span 11; }
  .grid .small-12 {
    grid-column: auto / span 12; }
  .grid .small-hidden {
    display: none; }
  .grid .small-start-1 {
    grid-column-start: 2; }
  .grid .small-start-2 {
    grid-column-start: 3; }
  .grid .small-start-3 {
    grid-column-start: 4; }
  .grid .small-start-4 {
    grid-column-start: 5; }
  .grid .small-start-5 {
    grid-column-start: 6; }
  .grid .small-start-6 {
    grid-column-start: 7; }
  .grid .small-start-7 {
    grid-column-start: 8; }
  .grid .small-start-8 {
    grid-column-start: 9; }
  .grid .small-start-9 {
    grid-column-start: 10; }
  .grid .small-start-10 {
    grid-column-start: 11; } }

@media only screen and (min-width: 481px) and (max-width: 950px) {
  .grid-container {
    max-width: 95vw;
    margin: auto; }
  .grid .medium-2 {
    grid-column: auto / span 2; }
  .grid .medium-3 {
    grid-column: auto / span 3; }
  .grid .medium-4 {
    grid-column: auto / span 4; }
  .grid .medium-5 {
    grid-column: auto / span 5; }
  .grid .medium-6 {
    grid-column: auto / span 6; }
  .grid .medium-7 {
    grid-column: auto / span 7; }
  .grid .medium-8 {
    grid-column: auto / span 8; }
  .grid .medium-9 {
    grid-column: auto / span 9; }
  .grid .medium-10 {
    grid-column: auto / span 10; }
  .grid .medium-11 {
    grid-column: auto / span 11; }
  .grid .medium-12 {
    grid-column: auto / span 12; }
  .grid .medium-hidden {
    display: none; }
  .grid .medium-start-1 {
    grid-column-start: 2; }
  .grid .medium-start-2 {
    grid-column-start: 3; }
  .grid .medium-start-3 {
    grid-column-start: 4; }
  .grid .medium-start-4 {
    grid-column-start: 5; }
  .grid .medium-start-5 {
    grid-column-start: 6; }
  .grid .medium-start-6 {
    grid-column-start: 7; }
  .grid .medium-start-7 {
    grid-column-start: 8; }
  .grid .medium-start-8 {
    grid-column-start: 9; }
  .grid .medium-start-9 {
    grid-column-start: 10; }
  .grid .medium-start-10 {
    grid-column-start: 11; } }

@media only screen and (min-width: 951px) and (max-width: 1450px) {
  .grid-container {
    max-width: 95vw;
    margin: auto; }
  .grid .large-2 {
    grid-column: auto / span 2; }
  .grid .large-3 {
    grid-column: auto / span 3; }
  .grid .large-4 {
    grid-column: auto / span 4; }
  .grid .large-5 {
    grid-column: auto / span 5; }
  .grid .large-6 {
    grid-column: auto / span 6; }
  .grid .large-7 {
    grid-column: auto / span 7; }
  .grid .large-8 {
    grid-column: auto / span 8; }
  .grid .large-9 {
    grid-column: auto / span 9; }
  .grid .large-10 {
    grid-column: auto / span 10; }
  .grid .large-11 {
    grid-column: auto / span 11; }
  .grid .large-12 {
    grid-column: auto / span 12; }
  .grid .large-hidden {
    display: none; }
  .grid .large-start-1 {
    grid-column-start: 2; }
  .grid .large-start-2 {
    grid-column-start: 3; }
  .grid .large-start-3 {
    grid-column-start: 4; }
  .grid .large-start-4 {
    grid-column-start: 5; }
  .grid .large-start-5 {
    grid-column-start: 6; }
  .grid .large-start-6 {
    grid-column-start: 7; }
  .grid .large-start-7 {
    grid-column-start: 8; }
  .grid .large-start-8 {
    grid-column-start: 9; }
  .grid .large-start-9 {
    grid-column-start: 10; }
  .grid .large-start-10 {
    grid-column-start: 11; } }

@media only screen and (min-width: 1451px) {
  .grid-container {
    max-width: 1400px;
    margin: auto; }
  .grid .xlarge-2 {
    grid-column: auto / span 2; }
  .grid .xlarge-3 {
    grid-column: auto / span 3; }
  .grid .xlarge-4 {
    grid-column: auto / span 4; }
  .grid .xlarge-5 {
    grid-column: auto / span 5; }
  .grid .xlarge-6 {
    grid-column: auto / span 6; }
  .grid .xlarge-7 {
    grid-column: auto / span 7; }
  .grid .xlarge-8 {
    grid-column: auto / span 8; }
  .grid .xlarge-9 {
    grid-column: auto / span 9; }
  .grid .xlarge-10 {
    grid-column: auto / span 10; }
  .grid .xlarge-11 {
    grid-column: auto / span 11; }
  .grid .xlarge-12 {
    grid-column: auto / span 12; }
  .grid .xlarge-hidden {
    display: none; }
  .grid .xlarge-start-1 {
    grid-column-start: 2; }
  .grid .xlarge-start-2 {
    grid-column-start: 3; }
  .grid .xlarge-start-3 {
    grid-column-start: 4; }
  .grid .xlarge-start-4 {
    grid-column-start: 5; }
  .grid .xlarge-start-5 {
    grid-column-start: 6; }
  .grid .xlarge-start-6 {
    grid-column-start: 7; }
  .grid .xlarge-start-7 {
    grid-column-start: 8; }
  .grid .xlarge-start-8 {
    grid-column-start: 9; }
  .grid .xlarge-start-9 {
    grid-column-start: 10; }
  .grid .xlarge-start-10 {
    grid-column-start: 11; } }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.align-center {
  text-align: center; }
